@model Blog.Models.Db.Photos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Share/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Events</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "EditPhoto", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
