@using System.Data
@using System.Web.UI.WebControls
@using Blog.Models.Db
@model Blog.Models.Db.EventsComments

@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Share/_Layout.cshtml";
}


@section Css {
    <link type="text/css" rel="stylesheet" href="~/Content/center_other.css">
    <link type="text/css" rel="stylesheet" href="~/Content/comment.css">
}

<div id="content">
    @for (int i = 0; i < ViewBag.Events.Count; i++)
    {
        var path = String.Format("{0}{1}", @"/Images/events/", ViewBag.Events[i].PhotoName + @".jpg");

        if (((i + 2) % 2) == 0)
        {

            <div class="post_title r_t">@ViewBag.Events[i].Title</div>
            <div class="post">
                <img class="l_i" src="@path">
                @ViewBag.Events[i].Message
            </div>
            <div class="date_l">
                @ViewBag.Events[i].Date.ToString("d")
            </div>
            <div class="colcom" style="text-align: right;">
                <a href="/Home/ViewCommentsEvent/@ViewBag.Events[i].Id" style="text-align: center">Comments(@ViewBag.Events[i].EventsComments.Count) </a>
            </div>
            <div class="wrapper">
                <details>
                    <summary style="text-align: right">leave a comment</summary>
                    <div class="CommR">
                        @using (Html.BeginForm("AddCommentEvent", "Home"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <input type="text" name="Id" value="@ViewBag.Events[i].Id" hidden="hidden" />
                            <input type="text" name="Page" value="index" hidden="hidden" />
                            <div>Input Name:</div>
                            <input type="text" name="Name" class="CommName" required="" />
                            <div>Input message:</div>
                            <textarea name="Message" class="CommMess" cols="40" rows="3" required=""></textarea><br>
                            <input type="submit" value="ADD" class="CommBut" style="text-align: center;" />
                        }
                    </div>
                </details>
            </div>
            <hr>
        }
        else
        {
            <div class="post_title l_t">@ViewBag.Events[i].Title</div>
            <div class="post">
                <img class="r_i" src="@path">
                @ViewBag.Events[i].Message
            </div>
            <div class="date_r">
                @ViewBag.Events[i].Date.ToString("d")
            </div>
            <div class="colcom" style="text-align: left;">
                <a href="/Home/ViewCommentsEvent/@ViewBag.Events[i].Id" style="text-align: center">Comments(@ViewBag.Events[i].EventsComments.Count) </a>
            </div>
            <div class="wrapper">
                <details>
                    <summary style="text-align: left">leave a comment</summary>
                    <div class="CommR">
                        @using (Html.BeginForm("AddCommentEvent", "Home"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <input type="text" name="Id" value="@ViewBag.Events[i].Id" hidden="hidden" />
                            <input type="text" name="Page" value="index" hidden="hidden" />
                            <div>Input Name:</div>
                            <input type="text" name="Name" class="CommName" required="" />
                            <div>Input message:</div>
                            <textarea name="Message" class="CommMess" cols="40" rows="3" required=""></textarea><br />
                            <input type="submit" value="ADD" class="CommBut" style="text-align: center" />
                        }
                    </div>
                </details>
            </div>
            <hr>
        }
    }
</div>
